@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo global para o fundo escuro */
body {
  @apply bg-gray-50 text-slate-800 dark:bg-slate-900 dark:text-slate-100 antialiased transition-colors duration-300;
}
